@model EventPlannerModels.Seller

@{
    ViewData["Title"] = "Details";
}

<h1>Tus datos de vendedor</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceYears)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freelance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freelance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificationType.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-controller="Referrals" asp-action="Index">Administra tus referencias</a> |
    <a asp-controller="VerificationRequests" asp-action="Create">Envía una solicitud para ser Vendedor</a>

</div>
