@model EventPlannerModels.Seller

@{
    ViewData["Title"] = "Details";
}

<h1>Datos de vendedor</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienceYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExperienceYears)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freelance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freelance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificationType.Id)
        </dd>
    </dl>
</div>

